 :root {
    --regular-text: 16px !important; 
    --big-title:  35px !important;
    --medium-title: 18px !important;
    --small-title: 14px !important;
    --by-author-text: 10px !important;
    --max-width: 78.75rem !important;
    --large-title: 20px !important;
        /* COLORS */
    --primary-color: black !important;
    --invert-primary-color: white !important;
    --secondary-color: rgb(118, 118, 118) !important;
    --tertiary-color: #D71920 !important;
    --trasparent-white:rgba(255, 255, 255, 0.4) !important;
        /* width images */
    --regular-width-image: 16px !important; 
    --big-width-image:  35px !important;
    --medium-width-image: 18px !important;
    --small-width-image: 14px !important;
    --big-title: Publico Banner !important;
    --title: Publico Headline !important;
    --label: Graphik !important;
    --generic-text: Georgia !important;
}

@font-face {
    font-family: Publico Banner;
    src: url(../fonts/Publico\ Banner\ Web\ Ultra\ Regular.ttf);
}

@font-face {
    font-family: Publico Headline;
    src: url(../fonts/Publico\ Headline\ Web\ Bold.ttf);
}

@font-face {
    font-family: Graphik;
    src: url(../fonts/Graphik-Font-Family/GraphikRegular.otf);
}
